<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Документ</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>

<center style="gap: 10px; 
height: 652px; 
display: flex; 
justify-content: center; 
align-items: center;
background-color: white; 
">


    
  {% if request.user.is_authenticated and request.user.test_access %}

    <div  class="d-grid gap-2">
      <a href="{% url 'logout' %}" class="btn btn-success btn-lg">выход</a>
      <a href="{% url 'start_test' %}" class="btn btn-primary btn-lg">Тест</a>
      <a type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Ваш результат</a>
      {% if request.user.certificate %}
      <a href="{% url 'get_certificate' %}" class="btn btn-primary btn-lg">Скачать сертификат</a>
      {% endif %}
    </div>
      <div>
        
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ваш результат 📜</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
    
    
{% if yourtest %}
  {% for x in yourtest %}
    <h5 class="text-start">{{ x.all }}</h5>
    <h5 class="text-start">
        {% if x.all == 'ALL' %}
            91 из вопроса {{ x.natija1 }} (1-2-Modul) и {{ x.natija2 }} (3-Modul) ты нашел ответ.
        {% elif x.all == '1-2-Modul' %}
            {{ x.category.count_task }} из вопроса {{ x.natija1 }} ты нашел ответ.
        {% else %}
            {{ x.category.count_task }} из вопроса {{ x.natija2 }} ты нашел ответ.
        {% endif %}
        <br>
        {% if x.checking1 == 'False' or x.checking2 == 'False' %}
            ❌Ты не прошел
        {% else %}
            ✅Вы прошли
        {% endif %}
    </h5>
    <h5 class="text-start">{{ x.date|timesince }} до</h5>
    <br><br>
  {% endfor %}
{% else %}
  <h4>Вы не прошли тест </h4>
{% endif %}

    
        
            </div>
          </div>
        </div>
    </div>
    </div>
    {% elif request.user.is_authenticated %}

     <div  class="d-grid gap-2">
         <center>
    <h2>Имя пользователя: {{ request.user.username }},</h2>
         <h2>Имя: {{ request.user.first_name }},</h2>
         <h2>Фамилия: {{ request.user.last_name }},</h2>
         <h2>Номер телефона: {{ request.user.phone_number }}</h2>
             </center>
 <h2>Вы сможете решить тест после разрешения администратора.</h2> <br>
        <a href="https://t.me/yusnus2007" class="btn btn-success btn-lg">Свяжитесь с нами для получения разрешения</a>
         <a href="{% url 'logout' %}" class="btn btn-success btn-lg">выход</a>
         <a type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Ваш результат</a>

        {% if request.user.certificate %}
      <a href="{% url 'get_certificate' %}" class="btn btn-primary btn-lg">Скачать сертификат</a>
      {% endif %}
     </div>

          <div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Ваш результат 📜</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



{% if yourtest %}
  {% for x in yourtest %}
    <h5 class="text-start">{{ x.all }}</h5>
    <h5 class="text-start">
        {% if x.all == 'ALL' %}
            91 из вопроса {{ x.natija1 }} (1-2-Modul) и {{ x.natija2 }} (3-Modul) ты нашел ответ.
        {% elif x.all == '1-2-Modul' %}
            {{ x.category.count_task }} из вопроса {{ x.natija1 }} ты нашел ответ.
        {% else %}
            {{ x.category.count_task }} из вопроса {{ x.natija2 }} ты нашел ответ.
        {% endif %}
        <br>
        {% if x.checking1 == 'False' or x.checking2 == 'False' %}
            ❌Ты не прошел
        {% else %}
            ✅Вы прошли
        {% endif %}
    </h5>
    <h5 class="text-start">{{ x.date|timesince }} до</h5>
    <br><br>
  {% endfor %}
{% else %}
  <h4>Вы не прошли тест </h4>
{% endif %}



            </div>
          </div>
        </div>
    </div>
    </div>
    {% else %}
    <a href="login/" class="btn btn-primary">Войти</a>
    <a href="{% url 'signup' %}" class="btn btn-primary">Зарегистрироваться</a>
    {% endif %}
   


    


</center>
<script src="/static/bootstrap.bundle.min.js"></script>

</body>
</html>